<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG With Retry Listener">
    <listeners>
        <listener class-name="pages.AnnotationTransformerListenerPage"/>
    </listeners>
    <test name="Test cases" preserve-order="true">
        <classes>
            <class name="tests.SignupTest">
            </class>
        </classes>
    </test>
</suite>