<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG With Retry Listener">
    <listeners>
        <listener class-name="pages.AnnotationTransformerListenerPage"/>
    </listeners>
    <test name="Test cases" preserve-order="true">
        <classes>
            <class name="tests.SignupTest"/>
            <class name="tests.HomepageTest"/>
            <class name="tests.ProfileTestNewUser"/>
            <class name="tests.SearchLocationsTest"/>
            <class name="tests.MyRidesTest"/>
            <class name="tests.BookingPostpayRideTest"/>
            <class name="tests.CouponsPageTest"/>
            <class name="tests.TimeSlotsTest"/>
            <class name="tests.SubscriptionBuyViaCreditsTest"/>
            <class name="tests.SubscriptionBuyWithPBAddon"/>
            <class name="tests.BookingFromCouponTest"/>
            <class name="tests.BookingFromSubscriptionTest"/>
            <class name="tests.BookingRescheduleTest"/>
            <class name="tests.BookingCancellationFromSubscriptionTest"/>
            <class name="tests.PayPerRideTest"/>
            <class name="tests.PostBookingTest"/>
            <class name="tests.PostBoardingTest"/>
            <class name="tests.SubscriptionRefundTest"/>
            <class name="tests.ReferAndEarnTest"/>
            <class name="tests.HelpTest"/>
        </classes>
    </test>
</suite>